{% extends "base.html" %}
{% block content %}

<!-- The below code has been taken from the Code Institute Task Manager Mini Project-->

<h3 class="center-align page-headings">Manage Categories</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large category-button">
            Add Category <i class="fas fa-plus right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for category in categories %}
    <div class="col s12 m3">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{ category.category_name }}</span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('edit_category', category_id=category._id) }}"
                    class="btn indigo darken-4 text-shadow">Edit</a>

                <!-- Materialize Modal Are you sure you want to delete trigger -->

                <!-- Modal Trigger -->
                <a class="red darken-4 text-shadow btn modal-trigger" href="#modal1">Delete</a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4 class="warning-heading">Are you sure you would like to delete this Category?</h4>
                        <p>This action cannot be undone!</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_category', category_id=category._id) }}"
                            class="modal-close red darken-4 text-shadow btn-flat white-text">Proceed with Deletion</a>
                        <a href="{{ url_for('get_categories') }}"
                            class="modal-close indigo darken-4 text-shadow btn-flat white-text">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}