/*--------------------------------------------- Base page */
.brand-logo {
  margin-left: 3%;
}


/*---------------------------- This needs taking out of comments as it colours the nav bar correctly */
/* 

.nav-extended {
  background-color: #3d7b9c;
}

*/










/*--------------------------------------------- Contact Us Form */

/* Taken from EmailJS */

.field {
    margin-bottom: 30px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #3d7b9c;
    color: #fff;
    border: none;
    border-radius: 12px;
  }
  
  .text-area {
    margin-bottom: 20px;
  }













/*--------------------------------------------- Footer */
.connect {
  text-align: center;

}

.designed-by {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 20px;
}

.page-footer {
  background-color: #3d7b9c;
}


.social-media {
  color: #fff;
  font-size: large;
  margin-top: 0;
  margin-bottom: 0;
}

a.social-media { 
  display: flex;

}

a.social-media :hover {
  color: #c2e5d3;
}








/*--------------------------------------------- Media Queries */

/*---------------- Computer medium screen size */

/* @media (max-width: 992px) { 

}






/*---------------- iPhone and Surface Duo */

@media (max-width: 768px) {
.brand-logo {
  font-size: small;
  text-align: center;
  margin-right: -40px;
}
}



/*---------------- Galaxy Fold */

@media (max-width: 576px) {
.brand-logo {
  font-size: small;
  margin-left: 0;
}
}