/*--------------------------------------------- Base page */
.brand-logo {
  margin-left: 3%;
}



/*--------------------------------------------- Base page Nav Bar */

.nav-extended {
  background-color: #3d7b9c;
  margin-bottom: 40px;
}

.page-headings {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  color: #3d7b9c;
}








/*--------------------------------------------- Home and About Hero images*/

.hero-image {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 75%;
}



/*--------------------------------------------- Home and About Us text */

.introduction { 
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 10%;
  text-align: justify;
}





/*--------------------------------------------- Home and About section images and headings */
/*

.left-image {
}

.right-image {
}

*/


.section-heading-left {
  color: #df832f;
}

.section-heading-right {
  color: #df832f;
  text-align: right;
}


/*--------------------------------------------- Register page */



.register-button {
  background-color: #3d7b9c;
}

.register-button:hover{
  background-color: #c2e5d3;
  color:#3d7b9c;
}


.font-icon {
  color: #3d7b9c;
}


/*--------------------------------------------- Log in page */

.login-button {
  background-color: #3d7b9c;
}

.login-button:hover{
  background-color: #c2e5d3;
  color:#3d7b9c;
}

.font-icon {
  color: #3d7b9c;
}




/*--------------------------------------------- Entries page */

.magnifying-glass {
  color: #3d7b9c;
}

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
  margin-right: 50px;
}

.collapsible-header {
  background-color: #3d7b9c;
}

ul.collapsible {
  margin-left: 3%;
  margin-right: 3%;
}

.card-panel {
  margin-left: 3%;
  margin-right: 3%;
}



/*--------------------------------------------- Submit an Entry page */



.submit-entry {
  background-color: #3d7b9c;
}

.submit-entry:hover{
  background-color: #c2e5d3;
  color:#3d7b9c;
}




/*--------------------------------------------- Add an Entry page */



.add-entry-button {
  background-color: #3d7b9c;
}

.add-entry-button:hover{
  background-color: #c2e5d3;
  color:#3d7b9c;
}



/*--------------------------------------------- Contact Us Form */

/* Taken from EmailJS */

.field {
    margin-bottom: 30px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #3d7b9c;
    color: #fff;
    border: none;
    border-radius: 12px;
  }
  
  .text-area {
    margin-bottom: 20px;
  }













/*--------------------------------------------- Footer */

.page-footer {
  background-color: #3d7b9c;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer.page-footer {
  margin-top: 60px;
}

.connect {
  padding-bottom: 10px;
}

.social-media {
  color: #fff;
  font-size: large;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  display: inline;
}

a.social-media :hover {
  color: #c2e5d3;
}

.designed-by {
  padding-top: 0;
  margin-top: 0;
}





/*--------------------------------------------- Media Queries */

/*---------------- Computer medium screen size */

/* @media (max-width: 992px) { 

}






/*---------------- iPhone and Surface Duo */

@media (max-width: 768px) {
.brand-logo {
  font-size: small;
  text-align: center;
  margin-right: -40px;
}
}




/*---------------- Galaxy Fold */

@media (max-width: 576px) {
.brand-logo {
  font-size: small;
  margin-left: 0;
}
.page-headings {
  font-size: x-large;
}

.reset {
  margin-bottom: 20px;
}
}

