/*--------------------------------------------- Base page */
.brand-logo {
  margin-left: 3%;
}

/* Mobile view logo */
.logo {
  color: #3d7b9c;
}

.page-headings {
  text-align: center;
  margin-bottom: 30px;
}

.flashes {
  background-color: #3d7b9c;
  height: fit-content;
  width: fit-content;
}


/*--------------------------------------------- Base page Nav Bar */

.nav-extended {
  background-color: #3d7b9c;
  margin-bottom: 40px;
}

.navigation-bar {
  margin-right: 3%;
}


/*--------------------------------------------- All Hero Images */

.hero-image {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 75%;
}


/*----------- Home and About Us introduction text */

.introduction { 
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 6%;
  text-align: justify;
}


/*----------- Home and About section images and headings */

.boxed-content {
  background-color: #3d7b9c1e;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

h4.section-heading {
  color: #df832f;
  text-align: center;
}

img.section-image {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/*--------------------------------------------- About page */

.register-link {
  color: #3d7b9c;
}

a.register-link:hover{
  color: #c2e5d3;
}

.login-link {
  color: #3d7b9c;
}

a.login-link:hover{
  color: #c2e5d3;
}


/*--------------------------------------------- Register page */

.register-button {
  background-color: #3d7b9c;
}

.register-button:hover{
  background-color: #c2e5d3;
  color:#3d7b9c;
}

.register-link {
  color: #3d7b9c;
}

a.register-link:hover{
  color: #c2e5d3;
}

.font-icon {
  color: #3d7b9c;
}


/*--------------------------------------------- Log in page */

.login-button {
  background-color: #3d7b9c;
}

.login-button:hover{
  background-color: #c2e5d3;
  color:#3d7b9c;
}

.login-link {
  color: #3d7b9c;
}

a.login-link:hover{
  color: #c2e5d3;
}

.font-icon {
  color: #3d7b9c;
}


/*--------------------------------------------- Entries page */

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
  margin-right: 50px;
}

.collapsible-header {
  background-color: #3d7b9c;
}

ul.collapsible {
  margin-left: 3%;
  margin-right: 3%;
}

.card-panel {
  margin-left: 3%;
  margin-right: 3%;
}


/*--------------------------------------------- Submit an Entry page */

.submit-entry {
  background-color: #3d7b9c;
}

.submit-entry:hover{
  background-color: #c2e5d3;
  color:#3d7b9c;
}


/*--------------------------------------------- Add an Entry page */

.add-entry-button {
  background-color: #3d7b9c;
}

.add-entry-button:hover{
  background-color: #c2e5d3;
  color:#3d7b9c;
}


/*--------------------------------------------- ADMIN ONLY Add and Manage Categories pages */

.category-button {
  background-color: #3d7b9c;
}

.category-button:hover{
  background-color: #c2e5d3;
  color:#3d7b9c;
}


/*--------------------------------------------- ADMIN ONLY Manage Categories page */

.warning-heading {
  color: #d50000;
}


/*--------------------------------------------- Contact Us Form */

.contact-text{
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 6%;
}

/* The below has been taken from EmailJS. 
I have made some edits to enable this to display as I would like */

.field {
  margin-top: 40px;
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 30px;
}
  
.field label {
  display: block;
  font-size: 14px;
  color: #3d7b9c;
}
  
.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}
  
input[type="submit"] {
  padding: 6px 30px;
  font-size: 14px;
  background-color: #3d7b9c;
  color: #fff;
  border: none;
  border-radius: 12px;
  margin-left: 46%;
}
  
.text-area {
  margin-bottom: 20px;
}


/*--------------------------------------------- Footer */

.page-footer {
  background-color: #3d7b9c;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer.page-footer {
  margin-top: 60px;
}

.connect {
  padding-bottom: 10px;
}

.social-media {
  color: #fff;
  font-size: 22px;
  margin-top: 0;
  padding: 21px;
}

a.social-media :hover {
  color: #c2e5d3;
}

.sm-icons {
  display: inline;
}

.designed-by {
  padding-top: 0;
  margin-top: 0;
}


/*--------------------------------------------- Media Queries */

/*---------------- iPhone and Surface Duo */

@media (max-width: 768px) {
  .brand-logo {
    font-size: small;
    text-align: center;
    margin-right: -40px;
  }

  .hero-image {
    width: 89%;
  }

  .login-text {
    padding-left: 40px;
    padding-right: 40px;
  }

  .register-intro{
    padding-left: 40px;
    padding-right: 40px;
  }

  .reset {
    margin-bottom: 5px;
  }

  .cancel {
    margin-bottom: 10px;
  }

  input[type="submit"] {
    margin-left: 33%;
  }
}


/*---------------- Galaxy Fold */

@media (max-width: 376px) {
  a.brand-logo {
    font-size: larger;
    margin-left: 0;
  }

  .page-headings {
    font-size: x-large;
  }

  .reset {
    margin-bottom: 20px;
  }

  input[type="submit"] {
    margin-left: 33%;
  }
}