{% extends "base.html" %}
{% block content %}

<img src="{{url_for('static', filename='images/about-hero.jpg')}}" class="hero-image"
    alt="Person with hearing aid looking at a computer screen">
<h3 class="page-headings">About Us</h3>
<p class="introduction">
    Talking Tinnitus has been designed with you in mind. We want to connect everyone that has and is
    experiencing tinnitus to with each other. They may choose to write about how tinnitus affects them,
    what helps them, how they manage their tinnitus etc. This in turn will help others that have just started
    to experience tinnitus, or those that have had it for a while and need some help and suggestions from
    others of whom are also experiencing tinnitus to know they are not alone.
    <br>
    <br>
    We have different categories so that you are able to easily upload your tips, tricks and thoughts, as
    well as find the categories that you are looking for. You control your experience and your profile and
    if there is something you find helpful please do share this on your social media and be sure to tag us
    in your post.
    <br>
    <br>
    So lets head on over, <a href="{{ url_for('register') }}" class="register-link">sign up</a> or <a
        href="{{ url_for('login') }}" class="login-link">sign in</a> and lets Talk Tinnititus.
</p>
<article class="boxed-content">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="section-heading">How we can help you?</h4>
            </div>
        </div>
                <div class="col s12">
                    <p class="section-text">
                    We understand you as we have had tinnitus for a few years ourselves. We understand how it feels to experience
                    this and what it is like to explain to others who don't understand. As a result of our understanding
                    and being able to manage our tinnitus we have become a volunteer befriender with a national tinnitus
                    service to help other people who also have tinnitus to help themselves.
                    <br>
                    <br>
                    We are all on this journey together. So lets with the help of our many active users take your hand
                    and guide you to living with and managing your tinnitus, having a more fulfilling and happier life and
                    lets look at tinnitus in a completely new way.
                    </p>
                    <img src="{{url_for('static', filename='images/about-we-help-you.jpg')}}" class="section-image"
                    alt="Lady comforting man with others in a support group">
                </div>
            </div>
        </div>
    </div>
</article>
<article>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="section-heading">How you can help yourself?</h4>
            </div>
        </div>
                <div class="col s12">
                    <p class="section-text">
                    You can manage your tinnitus but do not monitor it. Monitoring tinnitus creates a negative feeling
                    towards it. When we have a negative feeling towards something this distresses us and can cause things like
                    depression and anxiety. Acknowledge that the sound is there, maybe by saying something like “It's ok, I
                    can hear you” then move on with what you are doing, but don't listen to it. Use sound, relaxation, exercise,
                    board games or a hobby to help you take your mind off of it.
                    <br>
                    <br>
                    Join a tinnitus support group near you, or seek out organisations like the British Tinnitus
                    Association or American Tinnitus Association. Talking to others who understand will also help you to
                    help yourself.
                    </p>
                    <img src="{{url_for('static', filename='images/about-you-help-you.jpg')}}" class="section-image"
                    alt="A group of people listening and discussing with each other">
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}