{% extends "base.html" %}
{% block content %}

<img src="{{url_for('static', filename='images/entries-hero.jpg')}}" class="hero-image" 
    alt="People stood holding speech bubbles over their face with Let's Talk Tinnitus displayed on three of the speech bubbles">

    <h3 class="page-headings">Submit an Entry</h3>

<!-- The below code has been taken from the Code Institute Task Manager Mini Project-->

    <div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_task') }}">
        <!-- category selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-green-text text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Entry Category</label>
            </div>
        </div>

            <!-- entry description -->
            <div class="row">  
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="entry_description" name="entry_description" minlength="15" 
                        maxlength="500" class="materialize-textarea validate" required></textarea>
                    <label for="entry_description">Entry Description</label>
                </div>
            </div>

 
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit-entry" class="btn-large light-green darken-1 text-shadow">
                        Submit Entry <i class="fas fa-file-import"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}