<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is my third website that I have coded as part of my portfolio for Talking Tinnitus. 
        This has been completed for the Code Institute Milestone 3 Assessment Project">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" href="{{url_for('static', filename='images/talking-tinnitus-favicon.jpg')}}">
    <title>{{ title }}</title>
    {% block styles %}
    {% endblock %}
</head>

<body>

    <!-- Taken from the Code Institute Task Manager Application Mini Project -->
    <header>
        <!-- top navbar -->
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo">Talking Tinnitus</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down navigation-bar">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('get_entry') }}">Entries</a></li>
                    <li><a href="{{ url_for('add_entry') }}">Add Entry</a></li>
                    {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                    {% endif%}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <!-- mobile side navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align logo">Talking Tinnitus</h4>
            </li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('get_entry') }}">Entries</a></li>
            <li><a href="{{ url_for('add_entry') }}">Add Entry</a></li>
            {% if session.user|lower == "admin"|lower %}
            <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
            {% endif%}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>

            {% endif %}
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </header>
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="center-align white-text">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    
    {% block content %}
    {% endblock %}

    <footer class="page-footer">
        <p class="white-text center-align connect">Connect with us and let's keep talking:</p>

        <div class="center-align">
            <ul>
                <li class="sm-icons">
                    <a class="social-media" href="https://www.facebook.com/groups/417947383216864/" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <span class="sr-only">Facebook</span>
                </li>
                <li class="sm-icons">
                    <a class="social-media" href="https://twitter.com/talk_tinnitus" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <span class="sr-only">Twitter</span>
                </li>
                <li class="sm-icons">
                    <a class="social-media" href="https://www.instagram.com/talking_tinnitus/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <span class="sr-only">Instagram</span>
                </li>
                <li class="sm-icons">
                    <a class="social-media" href="https://www.youtube.com/channel/UCrU99cJK2_zFsmvo4YzWilA"
                        target="_blank"><i class="fab fa-youtube"></i></a>
                    <span class="sr-only">YouTube</span>
                </li>
            </ul>
        </div>
        <section>
            <p class="designed-by center-align">Website designed by Andrew Harding</p>
        </section>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/14fbbe1178.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/entries.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/sendEmail.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>