{% extends "base.html" %}
{% block content %}

<img src="{{url_for('static', filename='images/profile-hero.jpg')}}" class="hero-image" alt="Hello in different languages inside speech bubbles">

<!-- The below code has been taken from the Code Institute Task Manager Mini Project-->

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>


{% endblock %}